.weekend {
  width: 100%;
  height: 100%;
  border-right: solid;
  border-width: 1px;
  border-color: white;
  text-align: center;
  background-color: #eff4f8;
}
.workday {
  width: 100%;
  height: 100%;
  border-right: solid;
  border-width: 1px;
  border-color: white;
  text-align: center;
}

.today {
  width: 100%;
  height: 100%;
  border-right: solid;
  border-width: 1px;
  border-color: white;
  text-align: center;
  font-size: small;
  font-weight: 500;
  align-content: center;
  color: white;
}
