.weekend {
  height: 100%;
  border-right: solid;
  border-width: 1px;
  border-color: white;
  text-align: center;
  background-color: #e9f1f8;
}
.workday {
  height: 100%;
  border-right: solid;
  border-width: 1px;
  border-color: white;
  text-align: center;
}

.today {
  height: 100%;
  border-right: solid;
  border-width: 1px;
  border-color: white;
  text-align: center;
  font-size: small;
  font-weight: 500;
  align-content: center;
  color: white;
  background-color: #d0e4ff;
}

.headerWeekend {
  height: 100%;
  border-right: solid;
  border-width: 1px;
  border-color: white;
  text-align: center;
  background-color: #d7e6f3;
  font-size: small;
  font-weight: 500;
  align-content: center;
  color: #555555;
  margin-top: 8px;
}
.headerWorkday {
  height: 100%;
  border-right: solid;
  border-width: 1px;
  border-color: white;
  text-align: center;
  font-size: small;
  font-weight: 500;
  align-content: center;
  color: #555555;
  background-color: #eaeaea;
  margin-top: 8px;
}

.headerToday {
  height: 100%;
  border-right: solid;
  border-width: 1px;
  border-color: white;
  text-align: center;
  background-color: #243380;
  font-size: small;
  font-weight: 500;
  align-content: center;
  color: white;
  margin-top: 8px;
}
