.even {
  width: 100%;
  height: 100%;
  border-right: solid;
  border-width: 1px;
  border-color: white;
  text-align: center;
}
.odd {
  width: 100%;
  height: 100%;
  border-right: solid;
  border-width: 1px;
  border-color: white;
  text-align: center;
}
