.dayColumns {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  position: absolute;
  overflow-x: hidden;
}

.gantt {
  position: absolute;
  padding-top: 20px;
}

.container {
  position: relative;
  height: 100%;
  overflow-y: hidden;
}
