.desktopButton {
  display: flex;
  gap: 16px;
  flex: 1;
  justify-content: right;
}

.mobileButton {
  display: none;
}

.quickfilter {
  display: flex;
  flex: 1;
  gap: 16px;
}

.container {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
}

@media (max-width: 800px) {
  .quickfilter {
    display: none;
  }
}

@media (max-width: 600px) {
  .desktopButton {
    display: none;
  }
  .mobileButton {
    display: flex;
    flex: 1;
    justify-content: right;
    gap: 16px;
  }
}
