.container {
  display: flex;
  flex-flow: column;
  height: 100%;
  padding-bottom: 16px;
}

.toolbar {
  flex: 0 1 80px;
}

.bookingoverview {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row;
}

.customerList {
  flex: 0 1 260px;
}

.timeline {
  flex: 1 1 auto;
  height: 100%;
}

.capacity {
  flex: 0 1 40px;
}
