.filterButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.searchbarAndMobileFilter {
  width: 100%;
}

.toolbar {
  background-color: white;
  padding-bottom: 8px;
  margin-left: 16px;
  margin-right: 16px;
}
