.capacity {
  height: 100px;
}

.popoverHeader {
  background-color: #243380;
  padding-inline: 36px;
  padding-block: 1px;
  font-weight: bolder;
  color: white;
  font-size: 14px;
}

.bookingContainer {
  padding-inline: 36px;
  padding-block: 12px;
}

.booking {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  line-height: 0;
  gap: 16px;
}
